<mat-toolbar class="mat-toolbar topbar front-topbar topbar-xl m-auto bg-extra-light p-y-8 mat-toolbar-single-row">
  <div class="container full-width p-xs-6 p-x-15">
    <div class="d-flex align-items-center justify-content-between w-100">
      <div class="branding p-0">
        <div class="d-flex align-items-center">
          <a class="logodark" href="/"><img src="http://202.65.155.117/images/logo.svg" alt="logo" class="align-middle m-2"></a>
          <a class="logolight" href="/"><img src="http://202.65.155.117/images/logo.svg" alt="logo" class="align-middle m-2"></a>
        </div>
      </div>
      <div class="navigation-tab d-none d-lg-flex justify-content-between toolBarContent">
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-15 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> About Us </span>
        </button>
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-14 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> Blogs </span>
        </button>
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-15 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> Portfolio <span class="bg-light-primary text-primary rounded-7 f-w-600 p-x-8 p-y-4 f-s-12 m-l-4"> New </span></span>
        </button>
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-15 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> Dashboard </span>
        </button>
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-15 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> Pricing </span>
        </button>
        <button mat-button class="mdc-button mat-mdc-button-base m-x-8 f-s-15 f-w-600 nav-item mat-mdc-button mat-unthemed">
          <span class="mdc-button__label"> Contact </span>
        </button>
      </div>
      <div class="d-none d-lg-flex">
        <button mat-flat-button color="primary" class="mdc-button mat-mdc-button-base mdc-button--unelevated mat-mdc-unelevated-button mat-primary">
          <span class="mdc-button__label"> Log In </span>
        </button>
      </div>
      <button mat-icon-button class="mdc-icon-button mat-mdc-icon-button mat-mdc-button-base d-flex d-lg-none mat-unthemed">
        <span class="mdc-icon-button__ripple"></span>
        <i-tabler name="menu-2" class="icon-24 d-flex"></i-tabler>
      </button>
    </div>
  </div>
</mat-toolbar>
