<div class="footer-content">
  <div class="bg-primary position-relative overflow-hidden spacing-top-bottom footer-first-content">
    <div class="first-section d-none d-lg-flex"><img src="assets/images/front-end/screenshot-1.png" alt="left-side-img"></div>
    <div class="second-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 text-center">
            <div class="d-flex align-items-center justify-content-center">
              <mat-card class="mat-mdc-card mdc-card rounded-7 cards m-b-0 icon-56 d-flex align-items-center justify-content-center">
                <img src="assets/images/front-end/logo-icon.svg" alt="framework">
              </mat-card>
            </div>
            <h2 class="lh-normal text-white m-y-20 section-sub-title f-s-44">
              Focus on what truly matters—creating stunning, functional designs.
            </h2>
            <p class="f-s-18 m-b-20 m-t-0 lh-normal text-center text-white">
              Designed for ease of use and customization, this template help you build professional dashboards faster.
            </p>
            <a mat-stroked-button class="mdc-button mat-mdc-button-base text-white mdc-button--outlined mat-mdc-outlined-button mat-unthemed" href="/authentication/side-register">
              <span class="mdc-button__label">Register</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="third-section d-none d-lg-flex"><img src="assets/images/front-end/screenshot-2.png" alt="right-side-img"></div>
  </div>
  <div class="overflow-hidden bg-dark-200 footer-second-content">
    <div class="container">
      <div class="row p-t-48 p-b-24">
        <div class="col-md-3 col-6 m-b-20">
          <div class="listContainer">
            <div class="m-b-20"><a href="/"><img src="http://202.65.155.117/images/logo.svg" alt="logo" class="align-middle m-2"></a></div>
            <!-- links omitted for brevity -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
